@import '../../../scss/main.scss';

.top {
  height: 60px;
  background-color: $primary-color;
  width: 100%;
  display: flex;
  .logo {
    &__icon {
      color: $quaternary-color;
      font-size: 2.4rem;
    }
    &__text {
      font-size: 2.2rem;
      margin-left: -10px;
      span {
        color: $quaternary-color;
      }
    }
  }
}
