@import '../../../scss/main.scss';
.user-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  &__name {
    font-size: 2rem;
    margin-right: 10px;
  }
  &__btn {
    color: $quaternary-color;
    font-size: 3rem;
  }
}
