@import "../../../scss/main.scss";
.header {
  padding: 0;
  height: 100px;
  width: 100%;
  background-color: transparent;
  transition: $primary-transition;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  &.scrolled {
    background-color: $primary-color;
    height: 70px;
  }
}
