@import '../../../scss/main.scss';
.example__item {
  width: 22%;
  margin: 30px 10px;
  border-radius: 10px;
  border: 2px solid $secondary-color;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 320px;
  &-img {
    width: 100%;
    border-radius: 10px;
  }
  &-name {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
