@import "../../../scss/main.scss";
.nav {
  width: 40%;
  height: 100%;
  &__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    font-weight: 600;
  }

  &__link {
    color: rgba(255, 255, 255, 0.76);
  }
  &__btn {
    font-size: 1.2rem;
  }
}

.nav__item {
  position: relative;
  padding: 20px 0;
  transition: $primary-transition;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: $primary-color;
    transition: $primary-transition;
  }
  &:hover::before {
    width: 50%;
  }
  & .active {
    color: white;
    font-weight: 800;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 3px;
      background-color: $primary-color;
    }
  }
}
